[submodule "src/TbTBalancedStats"]
	path = src/TbTBalancedStats
	url = https://github.com/GovernorGecko/TbTBalancedStats.git
[submodule "src/Dice"]
	path = src/Dice
	url = https://github.com/GovernorGecko/Dice.git
[submodule "src/RangedDict"]
	path = src/RangedDict
	url = https://github.com/GovernorGecko/RangedDict.git
